
.portrait {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

.nameDiv {
  background: #40BBc6;
  position: absolute;
  bottom: 0;
  width: 120%;
  right: 25%;
  left: 50%;
  margin-left: -60%;
  text-align: center;
  font-size: 16px;
}

#description {
  position: absolute;
  top: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-size: 16px;

  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}


.portrait:hover #description {
  color: #000;
  visibility: visible;
  opacity: 1;
}